.nanny-card {
  display: flex;
  gap: 24px;
  background-color: #fbfbfb;
  border-radius: 24px;
  padding: 24px;
}

.nanny-avatar-wrapper {
  position: relative;
  flex-shrink: 0;
  width: 120px;
  height: 120px;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid rgba(240, 63, 59, 0.2);
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.nanny-avatar {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 15px;
}

.online-indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  background-color: #fbfbfb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.online-indicator::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #38cd3e;
  border-radius: 50%;
}

.nanny-info {
  flex-grow: 1;
}

.nanny-category {
  font-size: 16px;
  color: #8a8a89;
  margin-bottom: 8px;
  display: block;
}

.nanny-name {
  font-size: 24px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 16px;
}

.nanny-details {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  color: #111111;
}

.nanny-details p {
  background: #f3f3f3;
  padding: 8px 16px;
  border-radius: 48px;
}

.nanny-details span {
  font-weight: 600;
}

.nanny-value {
  font-weight: 600; /* або bold */
  color: #111111; /* колір значень за макетом */
}

.nanny-about {
  font-size: 16px;
  line-height: 1.25;
  color: #8a8a89;
}
