.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 566px;
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 64px;
  box-sizing: border-box;

  transform: translateY(-50px);
}

.logout-modal-content {
  max-width: 480px;
  text-align: center;
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.modal-close-btn svg {
  stroke-width: 2.5px;
  stroke: #11101c;
  fill: none;
}

.modal-title {
  font-weight: 500;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #11101c;

  margin-bottom: 20px;
}

.modal-subtitle {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);

  margin-bottom: 40px;
}

.logout-buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* .logout-btn {
  width: 100%;
  height: 52px;
  padding: 16px;

  border: none;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.01em;

  transition: background-color 0.2s ease;
}

.logout-btn:hover,
.logout-btn:focus {
  opacity: 0.6;
}

.logout-btn.confirm-btn {
  background-color: #f03f3b;
  color: #fbfbfb;
}

.logout-btn.cancel-btn {
  background-color: rgba(240, 63, 59, 0.2);
  color: #11101c;
  border: 1px solid #fbfbfb;
} */

/* .cancel-btn:hover {.modal-submit-btn.modal-submit-btn
  background-color: #e2e2e2;
} */
.logout-confirm-btn {
  width: 100%;
  height: 52px;
  padding: 16px;

  border: none;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.01em;

  background-color: #f03f3b;
  color: #fbfbfb;

  transition: background-color 0.2s ease;
}

.logout-cancel-btn {
  width: 100%;
  height: 52px;
  padding: 16px;

  border: none;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;

  background-color: rgba(240, 63, 59, 0.2);
  color: #11101c;
  border: 1px solid #fbfbfb;

  line-height: 1.25;
  letter-spacing: -0.01em;
}
