.filter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter-label {
  font-weight: 500;
  font-size: 14px;

  line-height: 1.28571;
  color: #8a8a89;
}

.filter-dropdown-wrapper {
  position: relative;
  width: 226px;
}

.filter-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 0 14px 0 18px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 14px;

  font-weight: 500;
  font-size: 18px;

  line-height: 1.11;
  color: #fbfbfb;
}

.filter-dropdown-icon {
  stroke-width: 2px;
  stroke: #fbfbfb;
  fill: none;
}

.filter-dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.07);
  padding: 14px 18px;
  list-style: none;
  margin: 0;
  z-index: 10;
}

.filter-dropdown-list li {
  font-weight: 400;
  font-size: 18px;

  line-height: 1.11;
  color: rgba(17, 16, 28, 0.3);

  padding: 8px 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.filter-dropdown-list li:hover,
.filter-dropdown-list li:focus {
  color: #11101c;
}
