.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 52px 128px 20px 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  box-sizing: border-box;
}

.header.home {
  background-color: transparent;
  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}

/* Стилі для інших внутрішніх сторінок (якщо треба білий фон або інший колір) */
.header.inner {
  background-color: #f03f3b;
}

.header-logo {
  font-weight: 500;
  font-size: 24px;

  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;

  text-decoration: none;
  flex-shrink: 0;

  transition: opacity 0.2s ease;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.8;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}

.header-nav {
  display: flex;
  gap: 32px;
}

.header-nav a {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  text-decoration: none;

  transition: opacity 0.2s ease;
}

.header-nav a:hover,
.header-nav a:focus {
  opacity: 0.6;
}

.header.inner .header-nav a {
  color: #111111;
}

.header-actions {
  display: flex;
  align-items: center;
}

.auth-buttons {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.btn-login,
.btn-register,
.btn-logout {
  padding: 14px 39px;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  transition: all 0.2s ease;
}

.btn-login {
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  width: 124px;
  height: 48px;
}

.btn-login:hover,
.btn-login:focus {
  color: #f03f3b;
  border: 1px solid #f03f3b;
}

.btn-register {
  background-color: #f03f3b;
  border: none;
  width: 168px;
  height: 48px;
}

.btn-register:hover,
.btn-register:focus {
  color: #f03f3b;
  background-color: #fbfbfb;
}

.header.inner .btn-login {
  border-color: #111111;
  color: #111111;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #ffffff;
}

.header.inner .user-menu {
  color: #111111;
}

.btn-logout {
  background: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  width: 134px;
  height: 48px;
}

.btn-logout:hover,
.btn-logout:focus {
  color: #f03f3b;
  border: 1px solid #f03f3b;
}

.header.inner .btn-logout {
  border-color: #111111;
  color: #111111;
}
