.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 11, 11, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  max-width: 566px;
  background-color: #fbfbfb;
  border-radius: 30px;
  padding: 64px;
  box-sizing: border-box;

  transform: translateY(-50px);
}

.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
}

.modal-close-btn svg {
  stroke-width: 2.5px;
  stroke: #11101c;
  fill: none;
}

.modal-title {
  font-weight: 500;
  font-size: 40px;

  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #11101c;

  margin-bottom: 20px;
}

.modal-subtitle {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);

  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper input {
  width: 100%;
  height: 52px;
  padding: 16px 18px;
  border: 1px solid rgba(17, 16, 28, 0.1);
  border-radius: 12px;
  background-color: transparent;

  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;

  font-weight: 400;
  font-size: 16px;

  line-height: 1.25;
  color: #11101c;
}

.input-wrapper input:-webkit-autofill,
.input-wrapper input:-webkit-autofill:hover,
.input-wrapper input:-webkit-autofill:focus,
.input-wrapper input:not(:placeholder-shown) {
  -webkit-text-fill-color: #11101c !important;
  -webkit-box-shadow: none !important;
  background-color: rgba(240, 63, 59, 0.2) !important;
  border: 1px solid #11101c !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input-wrapper input:hover,
.input-wrapper input:focus {
  border: 1px solid #11101c;
  background-color: rgba(240, 63, 59, 0.2);
}

.error-text {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.25;
  color: #e03636;

  opacity: 0.8;
  margin-top: 4px;
  margin-left: 18px;
  display: block;
}

.toggle-password-btn {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  background-color: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.toggle-password-btn svg {
  width: 20px;
  height: 20px;
  stroke: #11101c;
  fill: none;
}

.modal-submit-btn {
  width: 100%;
  height: 52px;
  padding: 16px;
  background-color: #f03f3b;

  border: none;
  border-radius: 30px;

  font-weight: 500;
  font-size: 16px;

  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #fbfbfb;

  transition: background-color 0.2s ease;
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  opacity: 0.6;
}
